<!DOCTYPE html>
<html lang="en">
<html xmlns:th = "http://www.thymeleaf.org"></html>
</html>
<head>
    <meta charset="UTF-8" http-equiv="Content-type" content="text/html">
    <title>Ekornrud Designs</title>
</head>
<body> 
    <h>
        Dette blir det beste noen sinne!</h>

    <div class="top">
        <div class="nav">
            <a href="home" class ="active"> Home </a>
            <a href="products"> Products</a>
            <a href="info"> Information </a>
            <!-- a href="filnavn.html", er link til andre tillhørnde sder -->
        </div>
        </div>

</body>
</html>